<!DOCTYPE html>
    <html>
    <head>
        <title>MJPEG Stream</title>
        <link rel="stylesheet" href=" {{ url_for('static', filename='style.css') }}">
        <script src=" {{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <h1>Live Stream</h1>
        <img src="http://192.168.0.145:8090/?action=stream">
        <button id="turn180" class="actionButton">Um 180 grad drehen</button>
        <button id="fullstop" class="actionButton">stop!</button>
        <button id="start" class="insideButton">Starte Weg merken</button>
        <button id="undoMovement" class="insideButton">Komm zurück</button>
        <button id="d" class="holdButton">&rarr;</button>
        <button id="a" class="holdButton">&larr;</button>
    </body>
    </html>
