<!DOCTYPE html>
    <html>
    <head>
        <title>MJPEG Stream</title>
        <link rel="stylesheet" href=" {{ url_for('static', filename='style.css') }}">
        <script src=" {{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <img src="http://192.168.0.145:8090/?action=stream">
            <div class="buttons">
                <button id="turn180" class="actionButton">Um 180 grad drehen</button>
                <button id="fullstop" class="actionButton">Stop!</button>
                <div class="undo"> 
                    <button id="start" class="insideButton">Starte Weg merken</button>
                    <button id="undoMovement" class="insideButton">Komm zurück</button>   
                </div>
                <div class="controller">
                    <button id="q" class="holdButton">links drehen</button>
                    <button id="w" class="holdButton">&uarr;</button>
                    <button id="e" class="holdButton">rechts drehen</button>
                    <button id="a" class="holdButton">&larr;</button>
                    <button id="s" class="holdButton">&darr;</button>
                    <button id="d" class="holdButton">&rarr;</button>
                </div>
            </div>
        </div>
    </body>
    </html>
