
body {
    background-color: #222;
    color: #fff;
    text-align: center;
    font-family: Arial, sans-serif;
}

img {
    max-width: 90%;
    height: auto;
    border: 3px solid #444;
    border-radius: 8px;
}
