<!DOCTYPE html>
    <html>
    <head>
        <title>MJPEG Stream</title>
        <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css') }}">
        <script src=" {{ url_for('static', filename='js/script.js') }}"></script>
    </head>
    <body>
        <div class="container">
            
            <div class="video-container">
                <img id="stream" src="http://192.168.0.145:8090/?action=stream">    
                <button class="arrow left">&larr;</button>
                <button class="arrow right">&rarr;</button>
            </div>

            <div class="buttons">
                <button id="turn180" class="actionButton">Um 180 grad drehen</button>
                <button id="fullstop" class="actionButton">Stop!</button>
                <div class="row"> 
                    <button id="start" class="insideButton">Starte Weg merken</button>
                    <button id="undoMovement" class="insideButton">Komm zurück</button>   
                </div>
                <div class="controller">
                    <button id="q" class="holdButton">links drehen</button>
                    <button id="w" class="holdButton">&uarr;</button>
                    <button id="e" class="holdButton">rechts drehen</button>
                    <button id="a" class="holdButton">&larr;</button>
                    <button id="s" class="holdButton">&darr;</button>
                    <button id="d" class="holdButton">&rarr;</button>
                </div>
                <div class="row"> 
                    <button id="modebtn" class="modiButton insideButton">Tasten</button>
                    <button id="modevoice" class="modiButton insideButton">Stimme</button>   
                    <button id="modegesture" class="modiButton insideButton">Gesten</button> 
                </div>
                <button id="modelabel" class="modiButton insideButton">(de)aktiviere Label Modus</button>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="labeldbox">
               <label for="box1">Command Log</label>
                <textarea id="box1" class="logBox" readonly></textarea> 
            </div>
            <div class="labeldbox">
                <label for="box2">Transcript</label>
                <textarea id="box2" class="logBox" readonly></textarea>
            </div> 
        </div>

    </body>
    </html>
