<!DOCTYPE html>
    <html>
    <head>
        <title>SPINO</title>
        <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css') }}">
        <script src=" {{ url_for('static', filename='js/script.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <div class="video-container">
                <img id="stream" src="http://192.168.0.145:8090/?action=stream">    
                <button class="arrow left">&larr;</button>
                <button class="arrow right">&rarr;</button>
                <p id="video-description">regular view</p>
            </div>

            <div class="buttons">
                <button id="turn180" class="actionButton">turn around</button>
                <button id="fullstop" class="actionButton">stop!</button>
                <div class="row"> 
                    <button id="start" class="insideButton">start route recording</button>
                    <button id="undoMovement" class="insideButton">come back</button>   
                </div>
                <div class="controller">
                    <button id="q" class="holdButton">turn left</button>
                    <button id="w" class="holdButton">&uarr;</button>
                    <button id="e" class="holdButton">turn right</button>
                    <button id="a" class="holdButton">&larr;</button>
                    <button id="s" class="holdButton">&darr;</button>
                    <button id="d" class="holdButton">&rarr;</button>
                </div> 
                <div class="row"> 
                <button id="setSpeed" class="actionButton hasParam" data-param-target="setSpeedP"> set speed </button>
                <input type="number" id="setSpeedP" min="0.01" max="1" step="0.01" placeholder="0.01 - 1" >
                </div> 
                <div class="row"> 
                    <button id="modebtn" class="modiButton insideButton">buttons</button>
                    <button id="modevoice" class="modiButton insideButton">voice</button>   
                    <button id="modegesture" class="modiButton insideButton">gesture</button> 
                </div>
                <button id="modelabel" class="modiButton insideButton textDe">activate label recognition</button>
                <div class="row"> 
                    <button id="modeod" class="modiButton insideButton">obsticle detection</button>
                    <button id="modeslam" class="modiButton insideButton">slam</button>   
                    <button id="modevisual" class="modiButton insideButton">slam visuals</button> 
                </div>
                <button id="moderoam" class="modiButton insideButton textDe">activate free roam</button>
                <button id="safevideo" class="insideButton">safe video</button>
                <button id="ackstop"  class="insideButton deactivated" disabled>aknowledge emergency stop</button>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="labelbox">
               <label for="box1">Command Log</label>
               <button class="clearbtn" id="1">clear</button>
                <textarea id="box1" class="logBox" readonly></textarea> 
            </div>
            <div class="labelbox">
                <label for="box2">Transcript</label>
                <button class="clearbtn" id="2">clear</button>
                <textarea id="box2" class="logBox" readonly></textarea>
            </div> 
        </div>

    </body>
    </html>
